/****** BASE STYLE ******/

body {
  background: #FFFAFA
  max-width: 1200px;
  margin: 0 auto;

}

/******** GRID *********/

.full-width {
      width: 1200px;
      margin: 0 auto;
      text-align:center;
}

.half-width {
      width: 600px;
      float: left;
}

/****** NAVIGATION for all pages ******/

#nav {
  list-style: none;
  text-align: center;
  margin-top: 70px;
  width: 500px;
  float: right;
  margin-right: -100px;
}

#nav li {
  display: inline;
  text-align: center;
  padding: 20px;
}

#nav a {
  text-align: center;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
}

.home-button {
  display: inline;
  float: left;
  margin-left: 25px;
  margin-top: 50px;
  clear: both;
}

/****** HOME PAGE ******/

#main-logo {
   text-align: center;
   clear: both;
}

#main-logo img {
  width:700px;
  margin-top: 230px;
}

/****** ABOUT ******/
.about-me {
  clear: both;
}
.about-me p {
  font-family: 'Forum', cursive;
  font-size: 20px;
  line-height:35px;
  text-align: justify;
  width: 700px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 200px;
}

.about-me img {
  width:300px;
  float: right;
  display: inline-block;
  margin-top: 70px;
  margin-right: 100px;
}

.skills {
  width:100%;
  background: #f7eeee;
  clear:both;
}
.skills h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: left;
  font-size: 30px;
  margin-left: 100px;
}

.skills li {
  font-family: 'Forum', cursive;
  text-align: left;
  font-size: 22px;
  list-style-type: none;
  line-height: 32px;
}

.list-one {
  width:300px;
  float: left;
  display: inline;
  margin-left: 60px;
  margin-bottom: 200px;
  margin-top: 25px;
}

.list-two {
  width: 300px;
  float:left;
  margin-bottom: 200px;
  margin-top: 25px;
  margin-left: 20px;
}
/****** CONTACT ******/
.contact {
  clear: both;
  padding-top: 180px;
  padding-bottom: 140px;
}
.contact h2 {
  font-family: 'Forum', cursive;
  font-size: 40px;
  text-align: center;
}
.contact p {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
}

/****** FOOTER ******/

.social {
  margin-left: 500px;
  margin-top: 200px;
  margin-bottom: 30px;
  clear: both;
}

.social a {
  padding: 20px;
  color: #000000;
  font-family: Montserrat;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  display: inline;

}
