/****** BASE STYLE ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f7eeee;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-family: Barlow;
    overflow-x: hidden;
}

/* -----------  REUSABLE COMPONENTS  ------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.col {
    padding: 0 auto;
}


/*--------------- NAVIGATION for all pages ---------------*/

.home-button {
  height: 70px;
  width: auto;
  float: left;
  margin: 30px 0 35px 0;
  margin-bottom: 35px;
}

.main-nav {
  float:right;
  list-style: none;
  margin-top: 50px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
 .main-nav li a:link,
 .main-nav li a:visited {
   padding: 6px 0;
   color: #000;
   text-decoration: none;
   text-transform: uppercase;
   font-family: Barlow, sans-serif;
   letter-spacing: 1px;
   font-weight: 400;
   font-size: 90%;
   border-bottom: 1px solid trasparent;
   transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #f9064b;
}

/* Mobile NAVI */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
    
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #f9064b;
}

/*-------- HOME PAGE --------*/

#main-logo {
   text-align: center;
   clear: both;
}

#main-logo img {
  width:700px;
  margin-top: 230px;
}

/*-------- ABOUT --------*/


#big-text {
  font-family: 'Barlow', sans-serif;
  color:black;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: left;
  padding-top: 15%;
}

.about-me {
  height:850px;
  padding-left:5%;

}
.about-me p {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height:32px;
  text-align: justify;
  padding: 0px 10px 15px 10px;
  width: 450px;
  position: relative;
  background-color: #f7eeee;

}


.gigi {
  width: 450px;
  margin-top: 9%;
  margin-left: 5%; 
}



#skill-head {
  width: 90px;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color:black;
  font-size: 25px;
  padding-bottom: 10px;
  position: relative;
  background-color: #f7eeee
}

.about-me li  {
  width: 150px;
  font-family: 'Barlow', sans-serif;
  text-align: left;
  font-size: 18px;
  list-style-type: none;
  line-height: 32px;
  position: relative;
  background-color: #f7eeee;
}

/*-------WORK---------*/

.img-grid img{
    width: 70%;
    margin-top: 10%;
}
 
.col-one img{
    margin-left: 26%;
}

.col-two img{
    margin-left: 4%;
}

/*-----------------------ADOR----------------------*/
a {
    font-weight: 500;
    color:  #f9064b;
    letter-spacing: .5px;
    text-decoration: none;
}


.brand-name {
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 15%;
    margin-top: 5%;
}

.description {
    font-size: 14px;
    margin: 0 15% 2% 15%;
    line-height: 25px;
}

hr {
    width: 5%;
    margin: 0 auto;
    
}

.portfolio-pics img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.portfolio-pics p {
    font-size: 15px;
    text-align: center;
}


/*-----------------------THE BEAN----------------------*/

.the-bean img {
    width: 70%;
    margin-left: 23%;
    padding-bottom:10px;
    
}

.the-bean-two img {
    width: 70%;
    margin-left: 7%;
    padding-bottom:10px;
}


/*-----------------------THE DAILY----------------------*/
/*-----------------------CELZIUS----------------------*/
/*-----------------------PECULIAR----------------------*/
/*-----------------------JONATHAN----------------------*/

/*--------CONTACT--------*/


.contact {
  padding-top: 180px;
  margin-bottom: 370px;
}
.contact h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: 40px;
  text-align: center;
}
.contact p {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-top: 15px;
  text-align: center;
}

.poppies {
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 0;
    
}
/*-------- FOOTER --------*/

.social {
  width: 100%;
  text-align: center;
  clear: both;
}

.social a {
  padding: 20px;
  color: #000000;
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  display: inline;
  margin-top: 100px;

}
