/* Big tablet to 1200 px (width smaller than the 1140ps row) */
@media only screen and (max-width: 1200px) {

        
.home-button {
  height: 65px;
  width: auto;
  float: left;
  margin-top: 30px;
  margin-left: 4%;
}
    
.main-nav {
  float:right;
  list-style: none;
  margin-top: 50px;
  padding-right: 4%;
}

.about-me {
        padding-left: 9%;}
    
.about-me p {width: 400px;
    font-size: 16px;}

.gigi {width: 400px;}
    
.social a {
  padding-bottom: 3%;
  font-size: 14px;
}
    
.about-me li  {
  font-size: 16px;
  list-style-type: none;
}
    
}


/* small tablet to big tablet: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
.col {
    width: 40%;
    margin; 0;
    }
    
#main-logo img {
  margin-top: 230px;
}
    
.home-button {
  margin-top: 30px;
  margin-left: 7%;
}
    
.main-nav {
  margin-top: 50px;
  padding-right: 8%;
  font-size: 18px;
}
    
#big-text {
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
  padding-top: 10%
}
    
.about-me {
  margin-top: 10px;
  width: 400px;
  height:550px;
    padding-left: 7%;
}
  
.about-me p {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 2px 10px 2px;
    }
    
#skill-head {
  letter-spacing: 1px;
  color:black;
  font-size: 18px;
  padding-top: 10px;
}
    
.about-me li  {
  font-size: 12px;
  line-height: 20px;
}

    
.gigi {
    width: 260px;
    margin-left: 8%;
}
    
.img-grid img{
    padding-top: 3%;
}     
    
.col-one img{
    width: 80%;
    margin-left: 38%;
    
    }  
.col-two img{
    width: 80%;
    margin-left: 30% 
    }
    
.contact h2 {
    font-size: 30px;
    }
    
.contact p {
    font-size: 40px;
    margin-top: 20px;
    }
.social a {
  padding-bottom: 3%;
  font-size: 14px;
}
    
}



/* Small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px) {

.row {
        padding: 0 4%;
    }

.col {
    width:100%;
    padding-left: 0 auto;}
    
#main-logo img {
  width:300px;
  margin-top: 180px;
}
    
.home-button {
 height: 50px;
  margin-top: 30px;
  margin-left: 8%;
}

.mobile-nav-icon {display: inline-block;}

.main-nav {
    float:left;
    font-size: 15px;
    margin-top: 14px;
    display: none;
    }
    
.main-nav li { display: block;}
    
.main-nav li a:link,
.main-nav li a:visited {
        display: block;
        border:0;
    }
#big-text {
  font-size: 20px;
  letter-spacing: 4px;
  text-align: left;
  padding: 0;
}
    
.about-me {
  margin-top: 40px;
  width: 400px;
  height:380px;
  margin-left: 8%;
  float:left;

}
  
.about-me p {
    width: 100%;
    font-size: 12px;
    line-height: 25px;
    padding: 2px 2px 20px 2px;
    }
    
.gigi {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 5%;
    
}
    
.col-one img{
    width: 80%;
    margin-left: 10%;
    
    }  
.col-two img{
    width: 80%;
    margin-left: 8% 
    }
    
.contact h2 {
    font-size: 25px;
    }
    
.contact p {
    font-size: 30px;
    margin-top: 15px;
    }
    
.social a {
  padding-bottom: 3%;
  font-size: 14px;
}
    
.social a {
  padding-bottom: 3%;
  font-size: 12px;
}
    
}




/* Small Phones from 0 to 480px */

@media only screen and (max-width: 480px) {
    
}